.headerOption{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;

}
.headerOption:hover{
  color:  black;
}
.header{
  display:flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}